PRODUCT_DB_HOST=
PRODUCT_DB_PORT=
PRODUCT_DB_NAME=
PRODUCT_DB_USER=
PRODUCT_DB_PASSWORD=

INVENTORY_DB_HOST=localhost
INVENTORY_DB_PORT=5435
INVENTORY_DB_NAME=inventory_db
INVENTORY_DB_USER=samar
INVENTORY_DB_PASSWORD=

PRODUCT_SERVICE_BASE_URL=http://localhost:8080